<launch>    
    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter" output="screen"> 
      <param name="use_mag"                value="false"/>
      <param name="publish_tf"             value="false"/>
      <param name="world_frame"            value="enu"/>
      <remap from="/imu/data_raw"          to="/camera/imu"/>
      <remap from="/imu/data"              to="/rtabmap/imu"/>
    </node>
  
</launch>