<launch> 
  <include file="$(find rtabmap_ros)/launch/rtabmap.launch">
    <arg name="args"                      value="-d --Optimizer/GravitySigma 0.2 --Odom/Strategy 0 --Odom/ResetCountdown 10 --Rtabmap/DetectionRate 0.5 --Rtabmap/TimeThr 250 ----Rtabmap/MemoryThr 200 ----Rtabmap/LoopThr 0.20 --Grid/MaxObstacleHeight 0.75 --Grid/MaxGroundHeight 0.05"/>
    <arg name="rtabmapviz"                value="true"/>
    <arg name="rviz"                      value="false"/>
    <arg name="depth_topic"               value="/camera/aligned_depth_to_color/image_raw"/>
    <arg name="rgb_topic"                 value="/camera/color/image_raw"/>
    <arg name="camera_info_topic"         value="/camera/color/camera_info"/>
    <arg name="approx_sync"               value="true"/>
    <arg name="wait_imu_to_init"          value="true"/>
    <arg name="imu_topic"                 value="/rtabmap/imu"/> 
    <!-- <arg name="localization"              value="true"/> -->
  </include>

</launch>
