<launch>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
      <arg name="depth_width"             value="848"/>
      <arg name="depth_height"            value="480"/>
      <arg name="enable_depth"            value="true"/>
      <arg name="depth_fps"               value="30"/>

      <arg name="color_width"             value="848"/>
      <arg name="color_height"            value="480"/>
      <arg name="enable_color"            value="true"/>
      <arg name="color_fps"               value="30"/>
      
      <arg name="align_depth"             value="true"/>
      <arg name="enable_sync"             value="true"/>
      <arg name="unite_imu_method"        value="copy"/>
      <arg name="clip_distance"           value="-2"/>
      <arg name="enable_gyro"             value="true"/>
      <arg name="enable_accel"            value="true"/>
      <arg name="initial_reset"           value="true"/>
    </include>
</launch>
